<div class="list-group" id="chatroom">
  <%= render @chatroom.recent_chat %>
</div>
<%= form_for [@chatroom, ChatroomMessage.new], html: {class: "form-inline"}, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary center" %>
<% end %>
<%= subscribe_to "/chatroom_messages/new" %>