<%= form_for Chatroom.new do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<div class="center"><%= f.submit "New Chatroom", class: "btn btn-primary btn-lg center" %></div>
<% end %>