<div class="list-group-item">
  <h5 class="list-group-item-heading">
    <strong><%= chatroom_message.user.name %></strong>
    <small><%= chatroom_message.created_at.strftime("%H:%M") %></small>
  </h5>
  <p class="list-group-item-text">
    <%= chatroom_message.content %>
  </p>
</div>