<% publish_to "/chatroom_messages/new" do %>
  $("#chatroom").append("<%= escape_javascript render(@chatroom_message) %>");
  $("#chatroom").animate({ scrollTop: $(document).height()}, 1000);
<% end %>
$("#new_chatroom_message")[0].reset();