/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
.list-group {
  overflow-y: scroll;
  max-height: 80%;
  min-height: 80%;
  width: 60%;
  position: fixed;
}
#new_chatroom_message {
  margin-top: 75%;
}