<!DOCTYPE html>
<html>
<head>
  <title>Faye rChat</title>
  <% full_path = Rails.root.join("app/assets/").to_s %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag params[:controller] if File.exists? full_path + "stylesheets/" + params[:controller] + ".css" %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag params[:controller] if File.exists? full_path + "javascripts/" + params[:controller] + ".js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container">
  <div class="navbar-header">
    <%= link_to "Faye rChat", root_path, class: "navbar-brand" %>
  </div>
  <div id="navbar">
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
</div>

<%= yield :top_content %>

<div class="container">
  <h1><%= yield :header %></h1>
  <%= yield %>
</div>
</body>
</html>
